<!-- created to send html file back -->
<!-- <%= ejs brackets %> defined  in app.js by adding object-->
<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<p>P.S. this is the love.ejs file!</p> 